body {
    /* background-color: #F7F2F2; */
    color: #262626;
    font-family: 'Lato', sans-serif;
    /* background-image: url(./images/Sprecher-final.jpg);
    background-size: 140%;
    background-repeat: no-repeat; */

}
header {
    display: flex;
    justify-content: space-a;
    align-items: center;
    padding: .5em 1em;
    height: 3em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
/* .logo {
    display: flex;
    align-items: center;
    margin: 0;
} */
/* header i {
    margin: 0 2px;
    color: #fff;
    background-color: #6096ba;
    padding: .6em;
    border-radius: 15%;
} */
/* header span {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 1.5em;
    color: #003459;  
} */
nav ul{
    display: flex;
    margin: 0 20px 0 0;
    background-color: rgb(240, 240, 240);
        padding: .8em;
        border-radius: 20px;
}
nav {
    display: flex;
    justify-content: flex-start;
}
nav ul li {
    list-style-type: none;
    margin: 0 .5em;
    background-color: #fff;
    border-radius: 20px;
    padding: .5em;
}
a {
    color:#262626;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
}



@media (max-width: 700px) {
    header span {
        font-size: 1em;
    }
    i {
        font-size: 15px;
    }
    nav {
        font-size: 10px;
        
    }
    header img {
        width: 80%;
    }
}

.hero {
    background-image: url(./images/assets/pexels-dmitry-demidov-3783471.);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 2em 1em 1em 1em;
}
.hero p {
    margin: 1em 0;
}
.hero i{
    font-size: 1em;
    color: #5F95B9;
}
.hero img {
    width: 98%;
    object-fit: cover;
    aspect-ratio: 1;
    margin-top: 1em;
    /* border-radius: 50%; */
    /* outline: 15px solid #00a6e866; */
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.heropic {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
h1 {
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 300;
}
.hero-text {
    padding: .4em;
}
/* CSS */
.button-50 {
    appearance: button;
    background-color: #5F95B9;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .button-50:focus {
    text-decoration: none;
  }
  
  .button-50:hover {
    text-decoration: none;
  }
  
  .button-50:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
  }
  
  .button-50:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
  }
  
  @media (min-width: 768px) {
    .button-50 {
      padding: 12px 50px;
    }
  }

.scroll {
    margin-top: 5em;
    display: flex;
    justify-content: center;
}
.scroll i {
    background-color: none;
    font-size: 3em;
    color: #5F95B9;
}